{% extends 'core/main_base.html' %}
{% load static %}

{% block style %}
body{
    background-color: url("{% static 'account/a.jpg' %}");
}
.log{
  align-self: center;
  height: 460px;
  width: 500px;
  border: 4px double blue;
  border-radius: 10px;
  box-shadow: #8a0000;
  margin-top: 100px;
}
#h{
  margin-top: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  color: rgb(23, 13, 108);
  border-bottom: 2px solid rgb(7, 6, 21);
  border-top: 2px solid rgb(6, 6, 21);
  width: 150px;
}
.form_{
  width: 400px;
  margin-top: 40px;
}
.container{
  gap: 160px;
  display: flex;
  width: 500px;
  margin-left: 0px;
  padding-left: 50px;
  padding-right: 30px;
  height: 100px;
  
}

#li_{
  color: #2C3539;
  font-family: 'Tapestry', cursive;
  
}
.nav_link{
  margin-top: 0px;

}
#navbar{
  padding: 0px;
  margin-top: 5px;
    height: 1386px;
    margin-left: 35em;
}
.user{
  margin-top: 10px;
  color: rgb(241, 225, 1);
}
a{
  text-decoration:none; 
}
.nav_link{
  margin-top:200px; 
}

{% endblock style %}

{% block navbar %}
  
    <div class="container ">

      <h1 class='head_'><a id='li_'  >Muneem</a></h1>

      <nav id="navbar" class="navbar">
        <a class="btn btn btn-dark " class="nav_link" href="{% url 'home' %}">Home</a>
        
      </nav><!-- .navbar -->

    </div>
{% endblock navbar %}
{% block content %}
<center>

<div class='log'>
<h3 id='h'>LOGIN</h3>
<br>
<form action="" method="POST" class='form_'>
  <table>
    {% csrf_token %}
    {% for field in form %}
    <tr>
        <td rightmargin="20" >{{ field.label }}:  </td>
        <td> {{ field }}</td>
    <tr>
   
    <tr style="height:28px">
      <td></td>
    </tr>
    {% endfor %}
    </table>
    <br>
    <button type="submit" class="btn btn-outline-primary">Login</button>

</form>
<br>
<p>Not yet a Muneem user <a  href="{% url 'register' %}" >Signup here</a></p>

</div>
</center>

{% endblock content %}