{% extends 'core/main_base.html' %}
{% load static %}
{% block css_file_path %}
    <link href="{% static 'account/css/account_page.css' %}" rel="stylesheet">
{% endblock css_file_path %}

{% block navbar %}
    {% include 'core/navbar.html' %}
{% endblock navbar %}

{% block style %}
body{
    background-image: url("{% static 'account/a.jpg' %}");
}
{% endblock style %}

{% block content %}

    <table class="table table-dark" style="width: 90%;border:2px solid black;border-collapse: collapse;margin-top:100px;margin-left: 50px;">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Debit/Credit</th>
            <th>Mobile Number</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Paid</th>
            <th>Date Of Transaction</th>
            <th>Delete </th>
            <th>Edit</th>
        </tr>
        {% for data in query_set %}
            {% if data.d_or_c == 'Debit' %}
                <tr>
                    <td>{{ data.id }}</td>
                    <td>{{ data.name }}</td>
        
                    {% if data.d_or_c == 'Debit' %}
                        <td>Debit</td>
                    {% else %}
                        <td>Credit</td>
                    {% endif %}
                    
                    <td>{{ data.m_no }}</td>
        
                    <td>{{ data.date }}</td>
        
                    <td>{{ data.amount }}</td>
        
                    <td>{{ data.paid }}</td>
        
                    {% if data.date_of_transaction == None %}
                        <td>NA</td>
                    {% else %}
                        <td>{{ data.date_of_transaction }}</td>
                    {% endif %}

                    <td>
                        <form action=" {% url 'delete' data.id %} " method="POST" class="d-inline">
                            <input type="submit" value="Delete" class="btn btn-danger">
                        </form>
                    </td>
                    <td>
                        <a href="{% url 'update' data.id %}" class="btn btn-outline-primary">Edit</a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    <table class="table table-dark" style="width: 90%;border:2px solid black;border-collapse: collapse;margin-top:100px;margin-left: 50px;">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Debit/Credit</th>
            <th>Mobile Number</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Paid</th>
            <th>Date Of Transaction</th>
            <th>delete </th>
            <th>Edit</th>
        </tr>
        {% for data in query_set %}
            {% if data.d_or_c == 'Credit' %}
                <tr>
                    <td>{{ data.id }}</td>

                    <td>{{ data.name }}</td>
        
                    {% if data.d_or_c == 'Debit' %}
                        <td>Debit</td>
                    {% else %}
                        <td>Credit</td>
                    {% endif %}
                    
                    <td>{{ data.m_no }}</td>
        
                    <td>{{ data.date }}</td>
        
                    <td>{{ data.amount }}</td>
        
                    <td>{{ data.paid }}</td>
        
                    {% if data.date_of_transaction == None %}
                    <td>NA</td>
                    {% else %}
                        <td>{{ data.date_of_transaction }}</td>
                    {% endif %}
                    
                    <td>
                        <form action=" {% url 'delete' data.id %} " method="POST" class="d-inline">
                            <input type="submit" value="Delete" class="btn btn-danger">
                        </form>
                    </td>
                    <td>
                        <a href="{% url 'update' data.id %}" class="btn btn-outline-primary">Edit</a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    <center>
    <div style='margin:20px;align:center;border-top:2px ridge ;border-bottom:4px ridge ;padding:20px;width:100px;border-radius:7px'>
    <a href="{% url 'add' %}" class="btn btn-outline-primary" style='color:red;border:2px solid orange'> ADD </a>
    </div>
</center>

{% endblock content %}