{% extends 'core/main_base.html' %}
{% load static %}

{% block css_file_path %}
    <link href="{% static 'account/css/add_page.css' %}" rel="stylesheet">
{% endblock css_file_path %}

{% block navbar %}
    {% include 'core/navbar.html' %}
{% endblock navbar %}

{% block style %}
body{
    background-image: url("{% static 'account/a.jpg' %}");
}
{% endblock style %}

{% block content %}
  <center> 
    <div  style="margin: 20px; padding: 8%; background-color: rgb(30, 28, 56) ; width: 40rem;" class="card">
      <h1><font color="blue">Update Details</font></h1>
    
    
      <form action="" method="POST">
        <table>
        {% for field in form %}
           
            <tr>
                <td><b><font color="white">{{field.label_tag}} </font></b> </td>     
                <td>{{field}}</td>
                <br>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td>
                <div style="padding: 5px; margin-right: 150px; ">    
                <input type="submit" value="Update"  class="btn btn-outline-primary"> 
            </div>
            </td>
        </tr>
        <table>
    </form>
    </div>
</center> 
{% endblock content %}